venv/
__pycache__/
*.pyc
.DS_Store
*.pt
*.pth
*.onnx
*.mp4
*.avi
*.zip
soccernet/tracking/*
soccernet/calibration/*
player_tracker*/
*egg-info/
yolo_dataset/
SV_*
*.csv
*.jpg
*.json
*.jpeg
logs/
*.env
*.gz
*.safetensors